$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$large-width: 1366px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$main-text-light:#F0F0F3;
$main-text-dark:#333333;
$element-dark:#1F1F1F;
$brand-color:#FFA36F;
$white:#FFFFFF;