<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Профиль | Honey Bakery</title>
    <meta name="theme-color" content="#f0f0f3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>


    <!-- SPRITE SVG -->

    <div style="display:none">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <symbol  id="cart" viewBox="0 0 24 24">
            <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
        </symbol>
        <symbol id="account" viewBox="0 0 24 24">
            <path  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
        </symbol>
        <symbol id="checklist" enable-background="new 0 0 24 24" viewBox="0 0 24 24">
            <rect fill="none" height="24" width="24"/>
            <path d="M22,7h-9v2h9V7z M22,15h-9v2h9V15z M5.54,11L2,7.46l1.41-1.41l2.12,2.12l4.24-4.24l1.41,1.41L5.54,11z M5.54,19L2,15.46 l1.41-1.41l2.12,2.12l4.24-4.24l1.41,1.41L5.54,19z"/>
        </symbol>
        <symbol  id="logout" enable-background="new 0 0 24 24"  viewBox="0 0 24 24" >
            <g><path d="M0,0h24v24H0V0z" fill="none"/></g>
            <g><path d="M17,8l-1.41,1.41L17.17,11H9v2h8.17l-1.58,1.58L17,16l4-4L17,8z M5,5h7V3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h7v-2H5V5z"/></g>
        </symbol>
        <symbol id="manage" enable-background="new 0 0 24 24"  viewBox="0 0 24 24">
            <g><path d="M0,0h24v24H0V0z" fill="none"/></g>
            <g><g><path d="M4,18v-0.65c0-0.34,0.16-0.66,0.41-0.81C6.1,15.53,8.03,15,10,15c0.03,0,0.05,0,0.08,0.01c0.1-0.7,0.3-1.37,0.59-1.98 C10.45,13.01,10.23,13,10,13c-2.42,0-4.68,0.67-6.61,1.82C2.51,15.34,2,16.32,2,17.35V20h9.26c-0.42-0.6-0.75-1.28-0.97-2H4z"/><path d="M10,12c2.21,0,4-1.79,4-4s-1.79-4-4-4C7.79,4,6,5.79,6,8S7.79,12,10,12z M10,6c1.1,0,2,0.9,2,2s-0.9,2-2,2 c-1.1,0-2-0.9-2-2S8.9,6,10,6z"/><path d="M20.75,16c0-0.22-0.03-0.42-0.06-0.63l1.14-1.01l-1-1.73l-1.45,0.49c-0.32-0.27-0.68-0.48-1.08-0.63L18,11h-2l-0.3,1.49 c-0.4,0.15-0.76,0.36-1.08,0.63l-1.45-0.49l-1,1.73l1.14,1.01c-0.03,0.21-0.06,0.41-0.06,0.63s0.03,0.42,0.06,0.63l-1.14,1.01 l1,1.73l1.45-0.49c0.32,0.27,0.68,0.48,1.08,0.63L16,21h2l0.3-1.49c0.4-0.15,0.76-0.36,1.08-0.63l1.45,0.49l1-1.73l-1.14-1.01 C20.72,16.42,20.75,16.22,20.75,16z M17,18c-1.1,0-2-0.9-2-2s0.9-2,2-2s2,0.9,2,2S18.1,18,17,18z"/></g></g>
        </symbol>
     
    </svg>
    </div>

    @@include("../blocks/modules/nav/nav.html")

    <section class="profile">
        <h2 class="visually-hidden">Профиль пользователя</h2>
        <div class="profile__controls">
            <a data-tab="1" class="profile__control js-tab-trigger profile__control--active">
                <span class="profile__control-img">
                    <svg class="profile__control-svg" width="40" height="40">
                        <use xlink:href="#manage"></use> 
                    </svg>
                </span>
                <span class="profile__control-text">
                    Мои данные
                </span>
            </a>
            <a data-tab="2" class="profile__control js-tab-trigger">
                <span class="profile__control-img">
                    <svg class="profile__control-svg" width="40" height="40">
                        <use xlink:href="#checklist"></use> 
                    </svg>
                </span>
                <span class="profile__control-text">
                    Мои заказы
                </span>
            </a>
            <a href="#" id="logout-btn" class="profile__control">
                <span class="profile__control-img">
                    <svg class="profile__control-svg" width="40" height="40">
                        <use xlink:href="#logout"></use> 
                    </svg>
                </span>
                <span class="profile__control-text">
                    Выйти
                </span>
            </a>
        </div>
        <div class="profile__tabs">
            <section data-tab="1" class="user-data user-tabs-js active">
                <div class="user-data__inner">
                    <h3 class="user-data__title">Мои данные</h3>
                    <form class="user-data__form" name="form-save-data" action="https://echo.htmlacademy.ru" method="post">
                        <input type="hidden" value="11" name="id_post">
                        <p class="user-data__paragraph user-data__form-fcs">
                            <input class="user-data__fcs-input user-data__form-surname" type="text" name="user_surname" value="Долгополов">
                            <input class="user-data__fcs-input user-data__form-name" type="text" name="user_name" value="Алексей">
                            <input class="user-data__fcs-input user-data__form-patronymic" type="text" name="user_patronymic" value="Алексеевич">
                        </p>
                        <p class="user-data__paragraph user-data__form-email">
                            <label class="user-data__label user-data__form-email-label" for="user_email">Ваш e-mail</label>
                            <input class="user-data__form-email-input" type="text" name="user_email" value="youwaytosuccess@gmail.com" disabled>
                        </p>
                        <p class="user-data__paragraph user-data__form-password">
                            <label class="user-data__label user-data__form-password-label" for="user_password">Пароль</label>
                            <input class="user-data__form-password-input" type="button" name="user_password" value="Изменить">
                        </p>
                        <span class="user-data__form-horizontal-line"></span>
                        <p class="user-data__paragraph user-data__form-telephone">
                            <label class="user-data__label user-data__form-telephone-label" for="user_telephone">Телефон</label>
                            <input class="user-data__fcs-input user-data__form-telephone-input" type="text" name="user_telephone" value="+375(33) 6890899">
                        </p>
                        <p class="user-data__paragraph user-data__form-address">
                            <label class="user-data__label user-data__form-address-label" for="user_address">Адрес</label>
                            <input class="user-data__fcs-input user-data__form-address-input" type="text" name="user_address" value="ул. Западная д.12 кв.35">
                        </p>
                        <button class="user-data__submit-button" type="submit">Сохранить</button>
                    </form>
                </div>
            </section>
            <section data-tab="2" class="user-orders user-tabs-js">
                <div class="user-orders__inner">
                    <h3 class="visually-hidden">Мои заказы</h3>
                    <div class="user-orders__tabs">
                        <div data-tab="3" class="user-orders__tabs-item js-order-tab-trigger orders-active">
                            <a class="user-orders__tabs-link">
                                <span class="user-orders__tabs-text">Текущие заказы</span>
                                <span class="user-orders__tabs-horizontal-line"></span>
                            </a>
                        </div>
                        <div data-tab="4" class="user-orders__tabs-item js-order-tab-trigger">
                            <a class="user-orders__tabs-link">
                                <span class="user-orders__tabs-text">Все заказы</span>
                                <span class="user-orders__tabs-horizontal-line"></span>
                            </a>
                        </div>
                    </div>
                    <div class="user-orders__current js-order-content active" data-tab="3">
                        <ul class="user-orders__list">
                            <li class="user-orders__item">
                                <div class="user-orders__item-img-block">
                                    <img class="user-orders__item-img" src="img/profile_page/4.jpeg" alt="Изображение заказа" width="266" height="240">
                                    <div class="user-orders__item-img-shadow"></div>
                                </div>
                                <div class="user-orders__item-text">
                                    <div class="user-orders__item-top-content">
                                        <h4 class="user-orders__item-title">Торт "Темные Магнолии"</h4>
                                        <span class="user-orders__item-number">№326</span>
                                    </div>
                                    <div class="user-orders__item-main-info">
                                        <div class="user-orders__item-left-side">
                                            <p class="user-orders__item-type user-orders__item-weight">
                                                <span class="user-orders__item-weight-title user-orders__item-subtitle">Вес</span>
                                                <span class="user-orders__item-weight-value user-orders__item-value">15кг</span>
                                            </p>
                                            <p class="user-orders__item-type user-orders__item-taste">
                                                <span class="user-orders__item-taste-title user-orders__item-subtitle">Вкус</span>
                                                <span class="user-orders__item-taste-value user-orders__item-value">Кокосовый</span>
                                            </p>
                                            <p class="user-orders__item-type user-orders__item-filling">
                                                <span class="user-orders__item-filling-title user-orders__item-subtitle">Начинка</span>
                                                <span class="user-orders__item-filling-value user-orders__item-value">Малина</span>
                                            </p>
                                        </div>
                                        <span class="user-orders__item-vertical-line"></span>
                                        <div class="user-orders__item-right-side">
                                            <p class="user-orders__item-type user-orders__item-count">
                                                <span class="user-orders__item-count-title user-orders__item-subtitle">Кол-во</span>
                                                <span class="user-orders__item-count-value user-orders__item-value">1шт</span>
                                            </p>
                                            <p class="user-orders__item-type user-orders__item-price">
                                                <span class="user-orders__item-price-title user-orders__item-subtitle">Цена</span>
                                                <span class="user-orders__item-price-value user-orders__item-value">670 BYN</span>
                                            </p>
                                            <p class="user-orders__item-type user-orders__item-status">
                                                <span class="user-orders__item-status-title user-orders__item-subtitle">Статус</span>
                                                <span class="user-orders__item-status-value user-orders__item-value">Ожидается</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="user-orders__cancel-button">
                                        <!-- delete.php?id='.$user_data["user_id"].' -->
                                        <a class="user-orders__cancel-button-link" href="#" alt="Отменить заказ">Отменить</a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-orders__item">
                                <div class="user-orders__item-img-block">
                                    <img class="user-orders__item-img" src="img/profile_page/4.jpeg" alt="Изображение заказа" width="266" height="240">
                                    <div class="user-orders__item-img-shadow"></div>
                                </div>
                                <div class="user-orders__item-text">
                                    <div class="user-orders__item-top-content">
                                        <h4 class="user-orders__item-title">Торт "Темные Магнолии"</h4>
                                        <span class="user-orders__item-number">№326</span>
                                    </div>
                                    <div class="user-orders__item-main-info">
                                        <div class="user-orders__item-left-side">
                                            <p class="user-orders__item-type user-orders__item-weight">
                                                <span class="user-orders__item-weight-title user-orders__item-subtitle">Вес</span>
                                                <span class="user-orders__item-weight-value user-orders__item-value">15кг</span>
                                            </p>
                                            <p class="user-orders__item-type user-orders__item-taste">
                                                <span class="user-orders__item-taste-title user-orders__item-subtitle">Вкус</span>
                                                <span class="user-orders__item-taste-value user-orders__item-value">Кокосовый</span>
                                            </p>
                                            <p class="user-orders__item-type user-orders__item-filling">
                                                <span class="user-orders__item-filling-title user-orders__item-subtitle">Начинка</span>
                                                <span class="user-orders__item-filling-value user-orders__item-value">Малина</span>
                                            </p>
                                        </div>
                                        <span class="user-orders__item-vertical-line"></span>
                                        <div class="user-orders__item-right-side">
                                            <p class="user-orders__item-type user-orders__item-count">
                                                <span class="user-orders__item-count-title user-orders__item-subtitle">Кол-во</span>
                                                <span class="user-orders__item-count-value user-orders__item-value">1шт</span>
                                            </p>
                                            <p class="user-orders__item-type user-orders__item-price">
                                                <span class="user-orders__item-price-title user-orders__item-subtitle">Цена</span>
                                                <span class="user-orders__item-price-value user-orders__item-value">670 BYN</span>
                                            </p>
                                            <p class="user-orders__item-type user-orders__item-status">
                                                <span class="user-orders__item-status-title user-orders__item-subtitle">Статус</span>
                                                <span class="user-orders__item-status-value user-orders__item-value">Ожидается</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="user-orders__cancel-button">
                                        <!-- delete.php?id='.$user_data["user_id"].' -->
                                        <a class="user-orders__cancel-button-link" href="#" alt="Отменить заказ">Отменить</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="user-orders__all js-order-content" data-tab="4">
                        <ul class="user-orders__list">
                            <li class="user-orders__item">
                                <div class="user-orders__item-img-block">
                                    <img class="user-orders__item-img" src="img/profile_page/4.jpeg" alt="Изображение заказа" width="266" height="240">
                                    <div class="user-orders__item-img-shadow"></div>
                                </div>
                                <div class="user-orders__item-text">
                                    <div class="user-orders__item-top-content">
                                        <h4 class="user-orders__item-title">Торт "Темные Магнолии"</h4>
                                        <span class="user-orders__item-number">№326</span>
                                    </div>
                                    <div class="user-orders__item-main-info">
                                        <div class="user-orders__item-left-side">
                                            <p class="user-orders__item-type user-orders__item-weight">
                                                <span class="user-orders__item-weight-title user-orders__item-subtitle">Вес</span>
                                                <span class="user-orders__item-weight-value user-orders__item-value">15кг</span>
                                            </p>
                                            <p class="user-orders__item-type user-orders__item-taste">
                                                <span class="user-orders__item-taste-title user-orders__item-subtitle">Вкус</span>
                                                <span class="user-orders__item-taste-value user-orders__item-value">Кокосовый</span>
                                            </p>
                                            <p class="user-orders__item-type user-orders__item-filling">
                                                <span class="user-orders__item-filling-title user-orders__item-subtitle">Начинка</span>
                                                <span class="user-orders__item-filling-value user-orders__item-value">Малина</span>
                                            </p>
                                        </div>
                                        <span class="user-orders__item-vertical-line"></span>
                                        <div class="user-orders__item-right-side">
                                            <p class="user-orders__item-type user-orders__item-count">
                                                <span class="user-orders__item-count-title user-orders__item-subtitle">Кол-во</span>
                                                <span class="user-orders__item-count-value user-orders__item-value">1шт</span>
                                            </p>
                                            <p class="user-orders__item-type user-orders__item-price">
                                                <span class="user-orders__item-price-title user-orders__item-subtitle">Цена</span>
                                                <span class="user-orders__item-price-value user-orders__item-value">670 BYN</span>
                                            </p>
                                            <p class="user-orders__item-type user-orders__item-status">
                                                <span class="user-orders__item-status-title user-orders__item-subtitle">Статус</span>
                                                <span class="user-orders__item-status-value user-orders__item-value">Ожидается</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="user-orders__cancel-button">
                                        <!-- delete.php?id='.$user_data["user_id"].' -->
                                        <a class="user-orders__cancel-button-link" href="#" alt="Отменить заказ">Отменить</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </section>

    @@include("../blocks/modules/footer/footer.html")


    <script src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        window.jQuery = window.$ = jQuery;

        $(document).ready(function() {
            console.log("jQuery is loaded");
        });
    </script>
    <script>
        $('.js-tab-trigger').click(function() {
            var id = $(this).attr('data-tab'),
                content = $('.user-tabs-js[data-tab="' + id + '"]');

            $('.js-tab-trigger.profile__control--active').removeClass('profile__control--active');
            $(this).addClass('profile__control--active');

            $('.user-tabs-js.active').removeClass('active');
            content.addClass('active');
        });
    </script>
    <script>
        $('.js-order-tab-trigger').click(function() {
            var id = $(this).attr('data-tab'),
                content = $('.js-order-content[data-tab="' + id + '"]');
            $('.js-order-tab-trigger.orders-active').removeClass('orders-active');
            $(this).addClass('orders-active');
            $('.js-order-content.active').removeClass('active');
            content.addClass('active');
        });
    </script>
</body>

</html>