@font-face {
    font-weight: normal;
    font-family: "Rubik";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
}

@font-face {
    font-weight: 500;
    font-family: "Rubik";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
}